@import "./mixins/mixins.scss";
@import "./common/var.scss";

@mixin button-theme($color, $hover-color, $disable-color) {
    
}

@include b(button) {
    box-sizing: border-box;
    padding: 0 12px;
    height: 32px;
    border-radius: 2px;
    background: $--color-primary;
    color: #fff;
    cursor: pointer;
    
    @include m(mini) {
        height: 24px;
        width: 100px;
    }
    @include m(samll) {
        height: 28px;
    }
    @include m(medium) {
        height: 32px;
    }
    @include m(large) {
        height: 36px;
    }

    @include m(primary) {
        background-color: $--color-primary;
    }
    @include m(error) {
        background-color: $--color-error;
        
    }
    @include m(success) {
        background-color: $--color-success;
        
    }
    @include m(warning) {
        background-color: $--color-warning;
    }


    @include is(round) {
        // border-radius: 20px;
    }
}
